<h1>All Courses</h1>

<%= link_to "New Course", new_admin_course_path, class: "btn btn-primary mb-4" %>

<ul>
  <% @courses.each do |course| %>
    <li>
      <%= link_to course.title, admin_course_path(course) %>
      (<%= link_to "Edit", edit_admin_course_path(course) %> |
      <%= link_to "Delete", admin_course_path(course), method: :delete, data: { confirm: "Are you sure?" } %>)
    </li>
  <% end %>
</ul>
